@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://kit.fontawesome.com/b99e675b6e.js");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: url('./IBM_Plex_Serif/IBMPlexSerif-Bold.ttf');
}
body{
    font-family:'Times New Roman', Times, serif ;
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.semi-bold{
    font-weight:normal;
    font-size: 20px;
}
.resume{
    width: 800px;
    height: 500;
    display: flex;
    margin: 50px auto;
}
.resume .resume-left {
    width: 290px;
    background: #0bb5f4;
}
.resume .resume-left .resume-profile{
    width: 90%;
    height:auto;
    padding-left: 50px;
    padding-top: 15px;
}
.resume .resume-left .resume-profile img{
    width: 90%;
    height: 100%;
}
.resume .resume-left .resume-container{
    padding: 0 25px;
}
.resume .title{
    margin-bottom: 20px;
}
.resume .resume-left .bold{
    color: #fff;
}
.resume .resume-left .regular{
    color: #b1eaff;
}
.resume .resume-item{
    padding: 25px 0;
    border-bottom: 2px solid #fff;
}
.resume .resume-left .resume-item:last-child{
    border-bottom: 0px;
}
.resume .resume-left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resume .resume-left ul li:last-child{
    margin-bottom: 0;
}
.resume .resume-left ul li .icon{
    width: 45px;
    height: 45px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 20px;
    position: relative;
}
.resume .icon i,
.resume .col-right .resume-hobby ul li i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.resume .resume-left ul li .data{
    color: #b1eaff;
}
.resume .resume-left .resume-skills  ul li{
    color: #b1eaff;
    justify-content: space-between;

}
.resume .resume-left .resume-skills ul li .skill-name{
    width: 25%;
}
.resume .resume-left .resume-skills ul li .skill-progress{
    width: 80%;
    margin: 0 5px;
    height: 10px;
    background: #009fd9;
    position: relative;
}
.resume .resume-left .resume-skills ul li .skil-per{
    width: 15%;
}
.resume .resume-left .resume-skills ul li .skill-progress span{
position: absolute;
top: 0;
left: 0;
height: 100%;
background: #fff;
}

.resume .col-right .bold {
    color: #0bb5f4;
}
.resume .col-right  .resume_about{
    padding-bottom: 10px;
}
.resume .col-right  .resume_work ul,
.resume .col-right .resume_education  ul
{
    padding-left: 40px;
    overflow: hidden;
}
.resume .col-right ul li {
    position: relative;
}
.resume .col-right ul li .date {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.resume .col-right ul li .data .info{
    font-weight: bold;
    font-size: 20px;
}
.resume .resume_right ul li:last-child .info{
    margin-bottom: 20px;
}
.resume .col-right.resume_work ul li:before,
.resume .col-right .resume_education ul li:before{
  
    border: 3px solid #0bb5f4;
}
.resume .col-right .resume-hobby ul {
    display: flex;
    justify-content: space-between;

}
.resume .col-right .resume-hobby ul li{
    width: 80px;
    height: 80px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    position: relative;
    color: #0bb5f4;
    
}
.resume .col-right .resume-hobby ul li i{
    font-size: 30px;
}


